* {
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background.jpg)
}

body {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
}

.container {
    margin: 0 20px;
    list-style: none;
    padding: 0;
    position:relative;
}